:root {
  --primary-color: #198754;
  --btn-color-hover: #157347;
  --bright-green: #01e675;
  --navbar-color: #d6d6d6;
  --content-link-color-hover: #23b370;
  --body-color: #F8F8F8;
  --transition-speed: 0.2s;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-color);
}

.a-green {
  color: var(--primary-color);
}

.a-green:visited {
  color: var(--primary-color);
}

.a-footer-green {
  color: var(--bright-green);
  text-decoration: none;
}

::selection {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn-success {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.btn-success:focus {
  background-color: var(--primary-color);
  box-shadow: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-item .nav-link {
  color: var(--navbar-color);
}

.navbar-nav .nav-item .nav-link:hover {
  transition: color var(--transition-speed) ease-in-out;
}

.navbar-nav .nav-item .nav-link:visited,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active {
  color: var(--navbar-color);
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 23px;
  height: 2px;
  background: var(--navbar-color);
  transition: all var(--transition-speed) ease-in-out;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 6px;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-of-type(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-of-type(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.dropdown-menu {
  background-color: #212529;
  border: none;
}

.dropdown-menu .dropdown-item {
  color: #A8A9AA;
  transition: color var(--transition-speed) ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #2f353a;
  color: var(--bright-green);
}

.dropdown-menu.show {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (hover: hover) and (pointer: fine) {
  .navbar-nav .nav-item .nav-link:hover {
      color: var(--bright-green);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 20px;
  }

  .navbar-toggler:hover .icon-bar {
      background-color: var(--bright-green);
  }

  .btn-success:hover {
      background-color: var(--btn-color-hover);
  }

  .a-green:hover {
      color: var(--content-link-color-hover);
  }

  .a-footer-green:hover {
      color: var(--bright-green);
      text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .navbar-nav .nav-item .nav-link:hover {
      text-decoration: none;
  }

  .navbar-collapse {
      text-align: center;
  }

  .dropdown-menu {
    text-align: center;
  }
}
