:root {
  --primary-color: #198754;
  --primary-color-hover: #157347;
  --navbar-link-color: #d6d6d6;
  --footer-link-color: #01E675;
  --content-link-color-hover: #23b370;
}

body {
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn {
  width: 100px;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  background-color: var(--primary-color);
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover {
  background-color: var(--primary-color-hover);
}

.navbar-nav .nav-item .nav-link {
  color: var(--navbar-link-color);
}

.navbar-nav .nav-item .nav-link:visited,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active {
  color: var(--navbar-link-color);
}

.a-green {
  color: var(--primary-color);
}

.a-green:visited {
  color: var(--primary-color);
}

.a-footer-green {
  color: var(--footer-link-color);
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {

  .navbar-nav .nav-item .nav-link:hover {
    color: var(--footer-link-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 21px;
  }

  .a-green:hover {
    color: var(--content-link-color-hover);
  }

  .a-footer-green:hover {
    color: var(--footer-link-color);
    text-decoration: underline;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-item .nav-link:hover {
    text-decoration: none;
  }
}